/*#wrapper {
	position: absolute;
	z-index: 3;
	top: 60px;
	left: 0px;
	width: 100%;
	padding-right: 0px;
	color: #AAAAAA;
	font-size: 13px;
}*/

#wrapper {
	overflow: hidden;
	padding-left: 60px;
	transition: all 0.5s ease 0s;

	&.toggled {
		overflow: hidden;
		padding-left: 230px;
		transition: all 0.5s ease 0s;
	}
}

#page-wrapper {
	padding-top: 100px;

	& > .container {
		position: relative;
		z-index: 2;
	}
}

/*
.main-title {
	color: $orange;
}

.test {
	p {
		font-family: Chilanka;
		color: $blue;
		font-size: $font-size-lg;
		font-weight: $font-weight-bold;
	}
}

.bgwrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	height: 100vh;
	overflow: hidden;
	//box-shadow: inset 0px 600px 900px rgba(0,0,0,0.7);
	//background-image: url('../storage/img/bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.smpadding {
	padding: 10px 10px 5px 10px !important;

	.searchboxoutter {
		width: 100%;
		height: 50px;

		table {
			background: #111111;
			height: 60px;
			border-radius: 4px;
			border-spacing: 0px 0px;
			padding: 0px 0px 0px 0px;
			width: 100%;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.7);

			.text {
				input {
					width: 100%;
					background: none;
					border: none;
					color: #CCCCCC;
					font-size: 20px;
					padding: 0px 0px 0px 20px;
					line-height: 50px;
					height: 60px;
					overflow: hidden;
					font-weight: 400;
				}
			}

			.platforms {
				text-align: right;
				width: 183px;
				overflow: hidden;

				i {
					display: table-cell;
					text-align: center;
					height: 60px;
					line-height: 60px;
					overflow: hidden;
					width: 60px;
					font-size: 24px;
					padding: 0px 0px 0px 0px;
					color: #333333;
					cursor: pointer;
				}

				.platform.selected.s_uplay {
					background-color: #48A7E2;
					color: #DDDDDD;
					box-shadow: inset 0px 0px 30px rgba(0,0,0,0.8);
				}

				.platform.selected.s_psn {
					background-color: #4278CA;
					color: #DDDDDD;
					box-shadow: inset 0px 0px 30px rgba(0,0,0,0.8);
				}

				.platform.selected.s_xbl {
					background-color: #6BA446;
					color: #DDDDDD;
					box-shadow: inset 0px 0px 30px rgba(0,0,0,0.8);
				}
			}

			.go {
				width: 50px;
				text-align: center;
				overflow: hidden;

				button {
					background: none;
					border: none;
					padding: 0px 0px 0px 0px;
					color: #999999;
					font-size: 24px;
					line-height: 60px;
					height: 60px;
					cursor: pointer;
				}
			}
		}
	}

	.playerheader {
		padding: 0px 20px 0px 20px;
		width: 100%;

		.avatar {
			width: 140px;
			height: 140px;
			background-color: #111111;
			background-size: cover;
			background-position: center center;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.8);

			img {
				width: 100%;
				height: 100%;
			}
		}

		.playerinfo {
			padding-left: 20px;
			line-height: 180%;
			color: #888888;

			.name {
				font-size: 32px;
				font-weight: 600;
				color: #CCCCCC;
				line-height: 160%;
			}

			b {
				padding-left: 6px;
				padding-right: 4px;

				&::after {
					content: '|';
					color: #555555;
					font-size: 10px;
				}
			}

			u {
				color: #CCCCCC;
				text-decoration: none;
			}

			i {
				font-size: 12px;
			}
		}
	}

	.halfwidth {
		.box {
			margin-top: 14px;
			width: 100%;
			text-align: left;
			overflow: hidden;
			border-radius: 4px;

			.title {
				padding: 10px 20px 10px 20px;
				font-size: 15px;
				font-weight: 600;
				background: #151515;
				color: #AAAAAA;
				box-shadow: inset 0px -20px 30px rgba(0,0,0,0.4);
				text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
				box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
			}

			.content {
				padding: 10px 20px 10px 20px;
				background: rgba(17,17,17,0.95);
				color: #777777;

				s {
					text-decoration: none;
					color: #BBBBBB;
				}
			}
		}
	}
}

.currentseasonrank {
	.currentrank {
		width: 70px;

		img {
			width: 60px;
		}
	}

	.ranktitle {
		font-weight: 300;
		margin-top: 6px;
		font-size: 18px;
	}

	.liner {
		margin-top: 8px;
		margin-bottom: 8px;
		height: 1px;
		border-bottom: 1px solid rgba(255,255,255,0.07);
	}

	.mmr {
		text-align: right;
		color: #555555;
	}
}*/

.btn-outline-dark:hover {
	background-color: lightslategrey;
}

.portal-pills {
	padding: 0;

	.panel-body {
		a {
			display: block;
			padding: 15px 0;
			color: black !important;
			text-decoration: none;
		}
	}
}
