@mixin test ($color) {
    background-color: $color;
}

.navbar {
    @include test($navbar-default-bg);
    color: $teal;
    font-size: $font-size-lg;

    position: fixed;
    z-index: 4;
    width: 100%;
    padding: 5px 60px 7px 0;
    left: 60px;
    transition: all 0.5s ease 0s;
}

.toggled .navbar {
    left: 230px !important;
    right: -230px;
}

.bartoggle.active {
    transform: rotate(90deg);
    opacity: 1;
}

.topbar a {
    color: #fff;
}

.bartoggle {
    float: left;
    font-size: 17px;
    line-height: 39px;
    margin-right: 15px;
    opacity: 0.4;
    transition: all .3s linear;
}

#topnav {
    #menu-toggle {
        position: absolute;
        margin-left: 15px;
    }
}