@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*-------------------------------- END ----*/

#body-row {
	margin-left: 0;
	margin-right: 0;
}

/*#sidebar-container {
	//min-height: 100vh;
	//background-color: #132644;
	padding: 0;
	!* flex: unset; *!

	position: fixed;
	z-index: 5;
	top: 0px;
	left: 0px;
	height: 100%;
	background-color: rgba(10,10,10,0.75);
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}*/

#sidebar-container {
	background: #111;
	height: 100%;
	left: 0px;
	margin-left: 0px;
	overflow: unset;
	position: fixed;
	//transition: all 0.5s ease 0s;
	width: 60px;
	z-index: 1000;
}

.sidebar-collapsed {
	width: 60px;
	/*         width: 100px; */
	transition: all 0.5s ease 0s;
}

.sidebar-expanded {
	width: 230px !important;
	transition: all 0.5s ease 0s;
}

/* ----------| Menu item*/
#sidebar-container .list-group a {
	height: 50px;
	color: white;
}

/* ----------| Submenu item*/
#sidebar-container .list-group li.list-group-item {
	background-color: #132644;
}

#sidebar-container .list-group .sidebar-submenu a {
	height: 45px;
	padding-left: 30px;
}

.sidebar-submenu {
	font-size: 0.9rem;
}

/* ----------| Separators */
.sidebar-separator-title {
	background-color: #132644;
	height: 35px;
}

.sidebar-separator {
	background-color: #132644;
	height: 25px;
}

.logo-separator {
	background-color: #132644;
	height: 60px;
}

a.bg-dark {
	background-color: #132644 !important;
}

.list-group-item.active {
	border-color: rgba(0, 0, 0, 0.125);
}

#sidebar-wrapper {
	background: #111;
	height: 100%;
	left: 0px;
	margin-left: 0px;
	overflow: unset;
	position: fixed;
	transition: all 0.5s ease 0s;
	width: 60px;
	z-index: 1000;

	.sidebar-nav {
		list-style: outside none none;
		margin: 0;
		padding: 0;
		/* position: absolute; */
		top: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.16);

		& > .sidebar-brand {
			font-size: 18px;
			height: 50px;
			line-height: 57px;
			margin-bottom: 10px;
			overflow: hidden;
			text-align: center;

			a {
				background: none repeat scroll 0 0 #333;
				color: #999999;
				padding: 0;
			}
		}

		li {
			height: 50px;
			line-height: 40px;

			a {
				padding: 0 10px;
				color: #626262;
				display: block;
				font-size: 12px;
				overflow: hidden;
				text-decoration: none;
				text-transform: uppercase;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&.hasSubmenu {
				& > a {
					&:before {
						content: "+";
						display: block;
						font-family: "Font Awesome 5 Free";
						font-size: 14px;
						font-weight: 900;
						position: absolute;
						right: 5px;
					}
				}
			}

			.hvr-push {
				img {
					margin-right: 20px;
				}
			}
		}
	}
}

.hvr-push > span {
	font-size: 18px;
	line-height: 40px;
}

#wrapper {
	&.toggled {
		#sidebar-wrapper {
			width: 230px;
		}
	}
}

.logo {
	img {
		width: 50px;
		margin: -2px 0 7px;
	}
}

.sidebar-nav > li > a .game-title {
	display: none;
}

.toggled .sidebar-nav > li > a .game-title {
	display: inline;
}

.sidebar-sub-nav {
	background: none repeat scroll 0 0 #444444;
	color: #fff;
	height: 100%;
	left: 100%;
	position: absolute;
	top: 0;
	width: 200px;
	list-style: none;
	padding: 0;
	display: none;
	overflow: auto;
}

.sidebar-nav li:hover .sidebar-sub-nav {
	display: block;
}