// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Navbar
$navbar-default-bg: #1a1a1a;

// CUSTOM
// Width

$global-padding-margin-40: 40px;
$global-padding-margin-20: 20px;
$global-padding-margin-10: 10px;

// Colors

$global-background: #fbfbfb;
$global-purple-background: #775ca7;
$global-text-color-header: #4D4D4D;
$global-border-violet-color: #C5C9E6;
$global-header-arrow-color-gray: #D1D3D4;
$global-green-link-color: #2E97A9;
$global-orange-color: #F96854;
$global-header-line-color: #21162C;
$global-text-color-admin: #808080;
//$bootstrap-container-sm: 540px;
//$bootstrap-container-md: 720px;
//$bootstrap-container-lg: 960px;
//$bootstrap-container-xl: 1140px;
//
//
$custom-main-container-sm: 560px;
$custom-main-container-md: 760px;
$custom-main-container-lg: 990px;
$custom-main-container-xl: 1280px;